<h2>Settlement</h2>
<% Project::SETTLEMENT_FIELDS.each do |field, data| %>
  <p>
    <strong><%= data[:title] %>:</strong>
    <% if data[:type] == "date" %>
      <%= @project.date_string(field) %>
    <% else %>
      <%= @project.settlement[field] %>
    <% end %>
  </p>
<% end %>