<p>
  <strong>Estimated Settlement Date:</strong>
  <%= settlement.date_string(:estimated_settlement_date) %>
</p>
 
<p>
  <strong>Title Registered Date:</strong>
  <%= settlement.date_string(:title_registered_date) %>
</p>
 
<p>
  <strong>Planned Settlement Date:</strong>
  <%= settlement.date_string(:planned_settlement_date) %>
</p>
 
<p>
  <strong>Final Settlement Date:</strong>
  <%= settlement.date_string(:final_settlement_date) %>
</p>